.interview-dates {
  font-weight: 600;
  font-size: 1.1rem;
  margin-top: 20px !important;
}

.interview-panels-block {
  margin-top: 30px !important;
}

.interview-details-header {
  color: #85CE36;
  font-size: 1.1rem;
  font-weight: 400;
}

.interview-details-down {
  margin-top: 40px;
  text-align: justify;
}

.interview-details {
  width: 50%;
  text-align: justify;
}
