.filters-section{
  width: 100%;
  background: #d7dde4;
  overflow: hidden;
  padding: 0 20px;

}

.filter-block{
  //overflow: hidden;

  &.filter-block--date{
   // float: left;
    margin-top: 10px;

  }

  &__title{
    float: left;
    margin-right: 30px;
    line-height: 29px;

    @media (max-width: 1110px) {
      float: none;
    }
  }

  &__selects{
    float: left;
    overflow: hidden;

    @media (max-width: 1110px) {
      float: none;
    }
    @media (max-width: 580px){
      width: 100%;
    }

  }

  .form-group{
    float: left;
    margin-bottom: 0;
    margin-right: 10px;
    padding: 15px 0;

    @media (max-width: 580px){
      float: none;
      margin-right: 0;
      padding: 0;
      margin-bottom: 15px;
    }

    &:last-child{
      margin-right: 0;
    }

    .form-control{
      width: 140px;

      @media (max-width: 580px){
        width: 100%;
      }
    }
  }
}

.filter-select {
  border-radius: 0;
  width: 120px !important;
  height: 2rem !important;

  &:hover {
    border: 1px solid #85CE36 !important;
  }
  &:focus {
    border: 1px solid #85CE36 !important;
  }
}

.filter-date {
  margin-left: 10px;
}

