.download-block{
  display: inline-block;
  overflow: hidden;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 15px;

  &.text-muted:hover{
    color: #818a91 !important;
  }

  span{
    display: inline-block;
  }

  &__icon{
    display: block;
    width: auto;
    margin-right: 5px;
    font-size: 1.5rem;
    text-align: center;
  }

  &__title{
    vertical-align: top;
  }

  &--disabled{
    cursor: not-allowed;
  }
}

