.create-interview-select {
  margin-right: 40px;
}

.create-interview-select-long {
  border-radius: 0;
  height: 2rem !important;

  &:hover {
    border: 1px solid #85CE36 !important;
  }
  &:focus {
    border: 1px solid #85CE36 !important;
  }
}